extends authlayout

block authcontent
  <form class="form-signup" method="post">
    .text-center.mb-3
      <h2 class="form-signup-heading">Sign up</h2>
    .text-center.mb-3
      <h6>for: #{title}</h6>

    .
      <label for="username" class="sr-only">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="mb-2 form-control form-control-sm"
        placeholder="Username" required autofocus>

      <label for="username" class="sr-only">Username</label>
      <input
        type="email"
        id="email"
        name="email"
        class="mb-2 form-control form-control-sm"
        placeholder="Email address" required autofocus>

      <label for="password" class="sr-only">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="mb-2 form-control form-control-sm"
        placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>

  div.mb-5
    <a href="#{baseUrl}/login" role="button" class="btn btn-link btn-sm float-right">Login</a>


  //- div.mb-5
  //- p.text-muted.text-center Or sign up with:

  each msg in signup
    if msg.title.toLowerCase() === 'Error'
      <div class="alert alert-danger" role="alert">
        <strong>#{msg.title}</strong> #{msg.msg}
      </div>
    else
      <div class="alert alert-info" role="alert">
        <strong>#{msg.title}</strong> #{msg.msg}
      </div>
